.header {
    background-color: #dcdcdc;
    &__inner {
        min-height: 230px;
        position: relative;
    }

    &__img-box {
        max-width: 273px;
        max-height: 210px;
        position: absolute;
        top: 65px;
    }

    &__contacts-box {
        position: absolute;
        top: 45px;
        right: 0;
    }

    &__phone {
        @extend %os-condensed-300;
        font-size: 40px;
        line-height: 46px;
        color: $accent;
    }

    &__btn {
        font-family: "PT Sans";
        font-weight: 700;
        font-size: 24px;
        color: $accent;
        border: none;
        border-bottom: 2px dashed $accent;
        background-color: transparent;
        float: right;
        cursor: pointer;
    }
}
.menu-nav {
    background-color: $accent;
    &__list {
        min-height: 80px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        margin-right: 22px;
        border-right: 3px solid #fff;
        &:last-child {
            margin-right: 0;
            border-right: none;
            .menu-nav__link {
                margin-right: 0;
            }
        }
    }

    &__link {
        font-weight: 400;
        font-size: 30px;
        color: #fff;
        letter-spacing: 0.25px;
        margin-right: 22px;
        &:hover {
            border-bottom: 2px solid #fff;
        }
    }
}
