.header {
    background-color: #dcdcdc;
    &__inner {
        min-height: 230px;
        position: relative;
    }

    &__img-box {
        max-width: 273px;
        max-height: 210px;
        position: absolute;
        top: 65px;
    }

    &__contacts-box {
        position: absolute;
        top: 45px;
        right: 0;
    }

    &__phone {
        @extend %os-condensed-300;
        font-size: 40px;
        line-height: 46px;
        color: $accent;
    }

    &__btn {
        font-family: "PT Sans";
        font-weight: 700;
        font-size: 24px;
        color: $accent;
        border: none;
        border-bottom: 2px dashed $accent;
        background-color: transparent;
        float: right;
        cursor: pointer;
    }
}
.menu-nav {
    min-height: 80px;
    background-color: $accent;
    &__list {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        @include max-1000 {
            flex-direction: column;
            padding-top: 0;
        }
    }

    &__item {
        margin-right: 22px;
        display: flex;
        @include max-1000 {
            margin: 10px 0;
        }
        &::after {
            content: "";
            width: 2px;
            height: 25px;
            background-color: #fff;
            margin-top: 8px;
            @include max-1000 {
                block-size: 0;
            }
        }
    }
    &__item:last-child {
        margin-right: 0;
        &::after {
            block-size: 0%;
        }
        .menu-nav__link {
            margin-right: 0;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 30px;
        color: #fff;
        letter-spacing: 0.25px;
        margin-right: 22px;
        line-height: normal;
        border-bottom: 2px solid #ffffff00;
        @include max-1000 {
            margin-right: 0;
        }
        &:hover {
            border-bottom: 2px solid #fff;
        }
    }
}
