@font-face {
    font-family: 'OpenSans_Condensed-Light';
    font-weight: 300;
    font-style: normal;
    src: local('OpenSans_Condensed-Light'),
         url("../font/Opensans_Condensed-Light.woff") format('woff'),
         url("../font/Opensans_Condensed-Light.woff2") format('woff2');
    font-display: swap;
}