@import "_reset.scss";
@import "_font.scss";
@import "_var.scss";
@import "_extend.scss";


html,
body {
    height: 100%;
    position: relative;
}
body {
    font-family: "PT Sans";
    font-size: 14px;
    line-height: 22px;
    color: $accent;
    display: flex;
    flex-direction: column;
}
.main {
    flex-grow: 1;
}

.container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}
.full-container {
    max-width: 1440px;
    margin: 0 auto;
}


@import "_media-max.scss";